body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
  }
  
  .Ecowise { 
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
  }
  
  .content {
    max-width: 500px;
  }
  
  .content h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .content p {
    font-size: 1.2em;
    line-height: 1.5;
  }
  

