body{
    background-color: #fff;
}

.nav-link{
    color: #000!important;
}

main{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.card .card-body .redes-sociais{
    display: flex;
    justify-content: space-around;
}


.card-img, .card-img-bottom, .card-img-top{
    object-fit: contain!important;
    height: 214px!important;
    border-radius: 5px 5px 0 0!important;
}

.card{
    border: 0!important;
}
