
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*Deixar a navbar transparente*/
.bg-body-tertiary {
  background-color: transparent !important;
}
/*Estilização dos links da navbar*/
.nav-link{
    font-family: "Oswald", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  font-weight: 600;
}
/*Definindo o tamanho da div interna da navbar*/
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
    width: 80%;
}