body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.banner2 {
    display: flex;
    padding: 50px;
    color: black;
    align-items: center;    
    flex-direction: column;
}

.laptop-image {
  flex: 1;
  
}

.laptop-image img {
  width: 100%;
  max-width: 700px;
  height: auto;
}

.content {
  flex: 1;
  padding: 20px;
}

.content h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.content p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.content ul {
  list-style-type: none;
  padding: 0;
}

.content ul li {
  font-size: 1em;
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.content ul li::before {
  content: '•';
  color: #000000; 
  position: absolute;
  left: 0;
}
